In [2]:
d = dict() # { key: value}

In [3]:
print(d)

{}

In [10]:
d["name"] = "John Doe"
print(d)

{'name': 'John Doe'}

In [11]:
d["age"] = 22
print(d)

{'name': 'John Doe', 'age': 22}

In [7]:
print(type(d["age"]))
print(type(d["name"]))

<class 'int'>
<class 'str'>

In [8]:
d[10] = "10"
print(d)

{'name': 'John Doe', 'age': 22, 10: '10'}

In [9]:
d = dict()
d

{}

In [12]:
d

{'name': 'John Doe', 'age': 22}

In [13]:
# Access the values
name = d["name"]
print(name)

John Doe

In [16]:
name = d.get("name") # Pass key as parameter
print(name)

John Doe

In [15]:
name

'John Doe'

In [17]:
d["address"] = "Mangalore"

In [18]:
d["pincode"] = 575001

In [19]:
d

{'name': 'John Doe', 'age': 22, 'address': 'Mangalore', 'pincode': 575001}

In [22]:
for i in d:
    print("Key : ", i, ", val : ", d[i])

Key :  name , val :  John Doe
Key :  age , val :  22
Key :  address , val :  Mangalore
Key :  pincode , val :  575001

In [23]:
del d["pincode"]

In [24]:
d

{'name': 'John Doe', 'age': 22, 'address': 'Mangalore'}

In [25]:
d.clear()

In [26]:
d

{}

In [34]:
d = {'name': 'John Doe', 'age': 22, 'address': 'Mangalore'}

In [28]:
d

{'name': 'John Doe', 'age': 22, 'address': 'Mangalore'}

In [29]:
type(d)

dict

In [30]:
print(type(d))

<class 'dict'>

In [33]:
d = dict()

In [35]:
d

{'name': 'John Doe', 'age': 22, 'address': 'Mangalore'}

In [38]:
strdict = str(d)

In [39]:
strdict

"{'name': 'John Doe', 'age': 22, 'address': 'Mangalore'}"

In [41]:
type(d)

dict

In [42]:
type(strdict)

str

In [43]:
x = strdict.split(':')

In [44]:
x

["{'name'", " 'John Doe', 'age'", " 22, 'address'", " 'Mangalore'}"]

In [45]:
len(d)

3

In [46]:
d

{'name': 'John Doe', 'age': 22, 'address': 'Mangalore'}

In [47]:
d["pincode"] = 581362

In [48]:
d["aadhar"] = "1234 5678 9101112"

In [49]:
d

{'name': 'John Doe',
 'age': 22,
 'address': 'Mangalore',
 'pincode': 581362,
 'aadhar': '1234 5678 9101112'}

In [50]:
d1 = dict()
d2 = dict()

In [53]:
d1 == d2

True

In [54]:
d1["name"] = "John"

In [55]:
d1 == d2

False

In [56]:
d2["name"] = "John"

In [57]:
d1 == d2

True

In [58]:
d2.clear()

In [59]:
d1

{'name': 'John'}

In [60]:
d2

{}

In [61]:
d2 = d1.copy()
# d2 points to the new location in memory, but a copy of d1 is added to the new location

In [62]:
d2

{'name': 'John'}

In [63]:
d2["name"] = "Doe"

In [64]:
d1

{'name': 'John'}

In [65]:
d2

{'name': 'Doe'}

In [66]:
d2.clear()
# Copies the memory locations
d2 = d1
# Both d1 and d2 points to same location on the memory

In [67]:
d1

{'name': 'John'}

In [68]:
d2

{'name': 'John'}

In [69]:
d2["name"] = "Doe"

In [70]:
d1

{'name': 'Doe'}

In [80]:
"name" in d

True

In [83]:
d.values()

dict_values(['John Doe', 22, 'Mangalore', 581362, '1234 5678 9101112'])

In [86]:
"John Doe" in d.values()

True

In [87]:
d2 = {"class": "MCA"}

In [88]:
d1.update(d2)

In [89]:
d1

{'name': 'Doe', 'class': 'MCA'}

In [90]:
d

{'name': 'John Doe',
 'age': 22,
 'address': 'Mangalore',
 'pincode': 581362,
 'aadhar': '1234 5678 9101112'}

In [91]:
d.update(d2)

In [92]:
d

{'name': 'John Doe',
 'age': 22,
 'address': 'Mangalore',
 'pincode': 581362,
 'aadhar': '1234 5678 9101112',
 'class': 'MCA'}

In [93]:
d2

{'class': 'MCA'}

In [94]:
d

{'name': 'John Doe',
 'age': 22,
 'address': 'Mangalore',
 'pincode': 581362,
 'aadhar': '1234 5678 9101112',
 'class': 'MCA'}

In [95]:
d3 = dict()

In [96]:
d3["age"] = 33

In [97]:
d.update(d3)

In [98]:
d

{'name': 'John Doe',
 'age': 33,
 'address': 'Mangalore',
 'pincode': 581362,
 'aadhar': '1234 5678 9101112',
 'class': 'MCA'}

In [99]:
d3["age"] = 22

In [100]:
d

{'name': 'John Doe',
 'age': 33,
 'address': 'Mangalore',
 'pincode': 581362,
 'aadhar': '1234 5678 9101112',
 'class': 'MCA'}

In [101]:
d.items()

dict_items([('name', 'John Doe'), ('age', 33), ('address', 'Mangalore'), ('pincode', 581362), ('aadhar', '1234 5678 9101112'), ('class', 'MCA')])

In [102]:
#(a, b)

In [111]:
def returnPair(a, b):
    t = (a, b)
    return t

In [112]:
x = returnPair(10, 20)

In [114]:
x

(10, 20)

In [113]:
type(x)

tuple

In [116]:
type(d.keys())

dict_keys

In [117]:
d.keys()

dict_keys(['name', 'age', 'address', 'pincode', 'aadhar', 'class'])

In [118]:
c = list(d.keys())

In [119]:
c

['name', 'age', 'address', 'pincode', 'aadhar', 'class']

In [120]:
x = list(d.values())

In [121]:
x

['John Doe', 33, 'Mangalore', 581362, '1234 5678 9101112', 'MCA']