In [2]:
# Print Statement
print("Hello World!")

Hello World!

In [5]:
# Single Line comment
'''
Multi line comment 1
'''

"""
Multi Line Comment 2
"""

'\nMulti Line Comment 2\n'

In [8]:
# variable Names
# Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Start with name / underscore
price = 10
_name = "Shivaprasad"

In [10]:
#â€¢	Variable names are case-sensitive (age, Age and AGE are three different variables)
price = 100
PRICE = 200
print(price, PRICE)

100 200

In [11]:
# With regards to variable names, what is camel casing, pascal casing and snake case?

# camelCase
userName = "Shivaprasad"

# PascalCase
HomeAddress = "Neelmane, Muroor"

# snake_case
is_admin = False

In [13]:
# Data Types
x = 10
y = 2.2
z = "Hello World"
l = ["Name", "Email", "Password"]
t = ("Name", "Email", "Password")
d = {"name":"Shivaprasad", "age": 25}

print(type(x))
print(type(y))
print(type(z))
print(type(l))
print(type(t))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [18]:
# Casting from one to other
intX = 10
floatY = float(intX)
print(floatY)

convInt = int(floatY)
print(convInt)

s = 20
s1 = str(s)
print(s1)

x = "20"
i = int(x)
print(i)

10.0
10
20
20

In [19]:
# Create a variable to store your name and print it.
name = "Shivaprasad Bhat"
print(name)

Shivaprasad Bhat

In [20]:
name = "MICHALE JACKSON"

In [21]:
name[::2]

'MCAEJCSN'

In [22]:
name[0:5:2]

'MCA'

In [23]:
len(name)

15

In [25]:
name1 = name * 3
print(name1)

MICHALE JACKSONMICHALE JACKSONMICHALE JACKSON

In [27]:
name2 = name.lower()
print(name2)

michale jackson

In [29]:
name3 = name.replace("MICHALE","JANE")
print(name3)

JANE JACKSON

In [30]:
fruits = ["Apple", "Banana", "Cherry"]
x, y, z = fruits
print(x, y, z)

Apple Banana Cherry

In [31]:
x = "Python is"
y = "awesome"
z = x + y
print(x)

Python is

In [32]:
listA = ["Hello", 10, 11.2]
print(listA)

['Hello', 10, 11.2]

In [33]:
tupleA = ("Hello", 1, 1.1)
print(tupleA)

('Hello', 1, 1.1)

In [35]:
# Simple if
x = 10

if x == 10:
    print("X is 10")

X is 10

In [36]:
# if else
x = 20
if x == 10:
    print("X is 10")
else:
    print("X is not 10")

X is not 10

In [37]:
#if elif
x = 10
if x == 20:
    print("X is 20")
elif x == 30:
    print("X is 30")
else:
    print("X is neither 20 nor 30")

X is neither 20 nor 30

In [39]:
# Logical AND
x = 20
y = 30
if x == 20 and y == 30:
    print("True")
    
# Also this is possible
print(x == 20 and y == 20)

True
False

In [41]:
# Logical OR
x = 20
y = 30

if x == 20 or y == 20:
    print("True")

# Also this is possible too
z = x == 20 or y == 10
print(z)

True
True

In [43]:
# Logical Not
weeks = ["Sunday", "Monday"]
w = "Tuesday" not in weeks
print(w)

print("Saturday" in weeks)

True
False

In [44]:
# While Loop
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [45]:
# for loop
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

1
2
3
4
5
6
7
8
9
10